<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_big_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{226,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,76}}</string>
                <key>sourceSize</key>
                <string>{226,76}</string>
            </dict>
            <key>btn_close_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,491},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>btn_com01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,52},{151,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,35}}</string>
                <key>sourceSize</key>
                <string>{151,35}</string>
            </dict>
            <key>btn_com02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{137,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,39}}</string>
                <key>sourceSize</key>
                <string>{137,39}</string>
            </dict>
            <key>btn_com03_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,438},{101,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,41}}</string>
                <key>sourceSize</key>
                <string>{101,41}</string>
            </dict>
            <key>btn_com04_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,398},{101,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,41}}</string>
                <key>sourceSize</key>
                <string>{101,41}</string>
            </dict>
            <key>btn_com05_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,341},{131,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,55}}</string>
                <key>sourceSize</key>
                <string>{131,55}</string>
            </dict>
            <key>btn_com06_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,340},{131,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,55}}</string>
                <key>sourceSize</key>
                <string>{131,55}</string>
            </dict>
            <key>btn_com07_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{246,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,121}}</string>
                <key>sourceSize</key>
                <string>{246,121}</string>
            </dict>
            <key>btn_com08_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,341},{162,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,84}}</string>
                <key>sourceSize</key>
                <string>{162,84}</string>
            </dict>
            <key>btn_com13_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,656},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>btn_com14_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,552},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>btn_green01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,341},{163,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,49}}</string>
                <key>sourceSize</key>
                <string>{163,49}</string>
            </dict>
            <key>btn_green02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,235},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>btn_green03_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,494},{204,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,69}}</string>
                <key>sourceSize</key>
                <string>{204,69}</string>
            </dict>
            <key>btn_green04_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,291},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>btn_green05.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,241},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>btn_green05_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,198},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>btn_green_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,423},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>btn_list01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,603},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>btn_list01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>btn_minus_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,382},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>btn_plus_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,341},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>btn_red_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{211,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,67}}</string>
                <key>sourceSize</key>
                <string>{211,67}</string>
            </dict>
            <key>btn_small_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,357},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>btn_table01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,333},{137,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,87}}</string>
                <key>sourceSize</key>
                <string>{137,87}</string>
            </dict>
            <key>btn_table01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,952},{132,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,70}}</string>
                <key>sourceSize</key>
                <string>{132,70}</string>
            </dict>
            <key>btn_table02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,397},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>btn_table03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{216,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,81}}</string>
                <key>sourceSize</key>
                <string>{216,81}</string>
            </dict>
            <key>btn_table03_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{216,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,81}}</string>
                <key>sourceSize</key>
                <string>{216,81}</string>
            </dict>
            <key>img_bg_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,563},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>img_bg_itemlist01.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,74},{264,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,142}}</string>
                <key>sourceSize</key>
                <string>{264,142}</string>
            </dict>
            <key>img_bg_itemlist02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{449,214},{263,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,117}}</string>
                <key>sourceSize</key>
                <string>{263,117}</string>
            </dict>
            <key>img_bg_list01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{300,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,48}}</string>
                <key>sourceSize</key>
                <string>{300,48}</string>
            </dict>
            <key>img_bg_list02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{300,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,48}}</string>
                <key>sourceSize</key>
                <string>{300,48}</string>
            </dict>
            <key>img_bg_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,475},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>img_bg_qbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>img_bg_sever.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,614},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>img_bg_tex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,514},{176,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,35}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>img_bg_tex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,770},{186,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,31}}</string>
                <key>sourceSize</key>
                <string>{186,31}</string>
            </dict>
            <key>img_bg_tex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,700},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>img_bg_tex04.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,505},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>img_bg_tex05.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,422},{107,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,47}}</string>
                <key>sourceSize</key>
                <string>{107,47}</string>
            </dict>
            <key>img_bg_tex06.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,164},{265,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,48}}</string>
                <key>sourceSize</key>
                <string>{265,48}</string>
            </dict>
            <key>img_bg_tex07.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,441},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>img_bg_tex08.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,554},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>img_bg_tex09.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,692},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>img_bg_tex10.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,647},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>img_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,398},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>img_frame_common01.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,438},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>img_frame_common02.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,481},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>img_frame_common03.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,89},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>img_frame_common04.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,770},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>img_frame_common05.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,610},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>img_frame_common06.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,958},{132,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,64}}</string>
                <key>sourceSize</key>
                <string>{132,64}</string>
            </dict>
            <key>img_frame_common07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,248},{139,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,49}}</string>
                <key>sourceSize</key>
                <string>{139,49}</string>
            </dict>
            <key>img_frame_common08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,469},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>img_frame_common09.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,471},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>img_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,520},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>img_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,444},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>img_paper_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,573},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>img_paper_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,563},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>img_paper_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,520},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>img_paper_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,73},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>img_paper_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,616},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>img_paper_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,700},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>img_paper_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,514},{160,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,166}</string>
            </dict>
            <key>img_paper_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,438},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>img_paper_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,561},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>img_paper_bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,299},{137,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,213}}</string>
                <key>sourceSize</key>
                <string>{137,213}</string>
            </dict>
            <key>img_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,770},{197,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,67}}</string>
                <key>sourceSize</key>
                <string>{197,67}</string>
            </dict>
            <key>img_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{230,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,58}}</string>
                <key>sourceSize</key>
                <string>{230,58}</string>
            </dict>
            <key>img_title_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{229,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,43}}</string>
                <key>sourceSize</key>
                <string>{229,43}</string>
            </dict>
            <key>img_title_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{301,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,60}}</string>
                <key>sourceSize</key>
                <string>{301,60}</string>
            </dict>
            <key>img_title_rolelist.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,74},{267,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,88}}</string>
                <key>sourceSize</key>
                <string>{267,88}</string>
            </dict>
            <key>img_title_win02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,69}}</string>
                <key>sourceSize</key>
                <string>{450,69}</string>
            </dict>
            <key>img_title_win03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{250,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,61}}</string>
                <key>sourceSize</key>
                <string>{250,61}</string>
            </dict>
            <key>img_vcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,422},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>zs_open_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,538},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62404b46c9b11fe87c77b697c55cf5c5:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
