<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_big_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{247,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,63}}</string>
                <key>sourceSize</key>
                <string>{247,63}</string>
            </dict>
            <key>btn_green04_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,517},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>btn_green05.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,467},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>btn_green_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>btn_small_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,136},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>btn_table01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,74},{137,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,87}}</string>
                <key>sourceSize</key>
                <string>{137,87}</string>
            </dict>
            <key>img_bg_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,309},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>img_bg_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,213},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>img_bg_qbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>img_bg_sever.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,213},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>img_bg_tex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>img_paper_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,514},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>img_paper_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,309},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>img_paper_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,435},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>img_paper_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,435},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>img_paper_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,393},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>img_paper_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,273},{160,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,166}</string>
            </dict>
            <key>img_paper_bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{137,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,213}}</string>
                <key>sourceSize</key>
                <string>{137,213}</string>
            </dict>
            <key>img_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{197,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,67}}</string>
                <key>sourceSize</key>
                <string>{197,67}</string>
            </dict>
            <key>img_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{230,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,58}}</string>
                <key>sourceSize</key>
                <string>{230,58}</string>
            </dict>
            <key>img_title_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{229,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,43}}</string>
                <key>sourceSize</key>
                <string>{229,43}</string>
            </dict>
            <key>img_title_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{301,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,60}}</string>
                <key>sourceSize</key>
                <string>{301,60}</string>
            </dict>
            <key>img_title_rolelist.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,40},{267,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,88}}</string>
                <key>sourceSize</key>
                <string>{267,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa26cdbdbfc222d19b2957b7cfc9be2$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
