<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,26},{8,32}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,114},{8,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{10,50}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,94},{10,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{12,60}}</string>
                <key>offset</key>
                <string>{26,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,71},{12,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{28,36}}</string>
                <key>offset</key>
                <string>{25,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,67},{28,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{10,58}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,54},{10,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{22,38}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,99},{22,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc62ec4b1af8549fa5427ca20f2332c$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
