<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_xb_chest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{135,133}</string>
            </dict>
            <key>btn_xb_chest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{135,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,133}}</string>
                <key>sourceSize</key>
                <string>{135,133}</string>
            </dict>
            <key>btn_xb_chestopen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{141,155}}</string>
                <key>sourceSize</key>
                <string>{145,157}</string>
            </dict>
            <key>btn_xb_chestopen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{143,147}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{143,147}}</string>
                <key>sourceSize</key>
                <string>{145,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8963c3c48d141b52e3b40ebd6067c75f:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
