<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{12,54}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,163},{12,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{18,46}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,129},{18,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,72},{20,44}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{20,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{20,44}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{20,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,58}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,133},{20,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{14,56}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,148},{14,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1932453f899ee500703438baff1ee89$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
