<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,372},{196,454}}</string>
                <key>offset</key>
                <string>{-112,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{196,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{466,172}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,180},{466,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{466,172}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,180},{466,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{254,506}}</string>
                <key>offset</key>
                <string>{-83,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{254,506}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,510}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{338,510}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,514},{346,482}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{346,482}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{368,410}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{368,410}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{438,240}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,134},{438,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{466,172}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,180},{466,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{466,172}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,180},{466,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{466,172}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,180},{466,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BattleWin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a590a94257474a4ade541aec496ab70$</string>
            <key>textureFileName</key>
            <string>BattleWin.png</string>
        </dict>
    </dict>
</plist>
