<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{58,86}}</string>
                <key>offset</key>
                <string>{44,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,274},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{40,84}}</string>
                <key>offset</key>
                <string>{26,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,277},{40,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{94,66}}</string>
                <key>offset</key>
                <string>{16,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,309},{94,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,84}}</string>
                <key>offset</key>
                <string>{9,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,319},{110,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97049f6a5405c2e1b509b1c119155e9b$</string>
            <key>textureFileName</key>
            <string>9.png</string>
        </dict>
    </dict>
</plist>
