<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{66,82}}</string>
                <key>offset</key>
                <string>{29,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,287},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,92}}</string>
                <key>offset</key>
                <string>{16,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,277},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{58,90}}</string>
                <key>offset</key>
                <string>{27,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,279},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,94},{78,82}}</string>
                <key>offset</key>
                <string>{37,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,287},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{66,74}}</string>
                <key>offset</key>
                <string>{30,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,295},{66,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,178},{58,78}}</string>
                <key>offset</key>
                <string>{27,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,291},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feebb2d8d878996e655914582f86c99d$</string>
            <key>textureFileName</key>
            <string>6.png</string>
        </dict>
    </dict>
</plist>
