<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{22,38}}</string>
                <key>offset</key>
                <string>{62,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,104},{22,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,40},{20,34}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,85},{20,34}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,12},{54,26}}</string>
                <key>offset</key>
                <string>{-23,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,179},{54,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,10}}</string>
                <key>offset</key>
                <string>{-18,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,224},{60,10}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47252e946e230ae79a4e5d3cae3c1a93$</string>
            <key>textureFileName</key>
            <string>9.png</string>
        </dict>
    </dict>
</plist>
