<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{36,90}}</string>
                <key>offset</key>
                <string>{20,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,278},{36,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,154},{38,86}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,282},{38,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{38,88}}</string>
                <key>offset</key>
                <string>{19,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,280},{38,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{34,112}}</string>
                <key>offset</key>
                <string>{21,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,256},{34,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,112}}</string>
                <key>offset</key>
                <string>{21,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,256},{34,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{42,92}}</string>
                <key>offset</key>
                <string>{17,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,276},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:055a163a491bbf9fc5d52fea0e748b86$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
