<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,396},{56,150}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,142},{56,150}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{62,148}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,143},{62,148}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1},{60,148}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,143},{60,148}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{58,148}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,143},{58,148}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,280},{56,150}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,141},{56,150}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,337},{58,150}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,141},{58,150}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{60,150}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,141},{60,150}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1},{62,148}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,142},{62,148}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,215},{64,146}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,144},{64,146}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,148},{66,146}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{66,146}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,146}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{66,146}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,150},{64,146}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,144},{64,146}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e40f8369032ef75f480a83946d573e:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
